/* SCREAMOT TITLE */
.title {
  font-family: "ArchivoBlack", sans-serif;
  font-size: clamp(
    2.4rem,
    7vw,
    6rem
  ); 
  font-weight: bold;
  color: white;
  text-shadow: var(--negative-text-thickness) var(--negative-text-thickness) 0px var(--shadow-color),
               var(--text-thickness) var(--negative-text-thickness) 0px var(--shadow-color),
               var(--negative-text-thickness) var(--text-thickness) 0px var(--shadow-color),
               var(--text-thickness) var(--text-thickness) 0px var(--shadow-color);
  letter-spacing: var(--letter-spacing);
  max-width: 100%;
  display: flex;
  align-items: center;
  /* border: green solid 5px; */
}

/*  MEDIA QUERIES for larger screens */

/* Small devices (smartphones) ----------- */
/* Styles for smartphones (CSS viewport width < 768px) */
@media (max-width: 767px) {}

/* Medium devices (tablets and small laptops) ----------- */
/* Styles for tablets and small laptops (CSS viewport width 768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .titleContainer {
    top: 0;
  }
}
/* Large devices (laptops and desktops) ----------- */
/* Styles for laptops and desktops (CSS viewport width 1024px - 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
  .titleContainer {
    top: 0;
  }
}
/* Extra large devices (large desktops) ----------- */
/* Styles for large desktops (CSS viewport width > 1440px) */
@media (min-width: 1441px) {
  .titleContainer {
    top: 0;
  }
}
