/* Import Roboto for the smart contract address */
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid 5px; */
}

.logo {
  /* width: 110px;  */
  width: 15vw; /* Adjust logo size dynamically based on viewport width */
  max-width: 150px; /* Set a maximum width to prevent it from becoming too large */
  /* height: auto;  */
}

/* Media queries for larger screens */
@media (min-width: 768px) {
  /* .logo {
    width: 15vw; 
    max-width: 120px;
  } */
}

@media (min-width: 1024px) {
  /* .logo {
    width: 12vw;
    max-width: 140px;
  } */
}


/* Small devices (smartphones) ----------- */
/* Styles for smartphones (CSS viewport width < 768px) */
@media (max-width: 767px) {
}

/* Medium devices (tablets and small laptops) ----------- */
/* Styles for tablets and small laptops (CSS viewport width 768px - 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Large devices (laptops and desktops) ----------- */
/* Styles for laptops and desktops (CSS viewport width 1024px - 1440px) */
@media (min-width: 1024px) and (max-width: 1440px) {
}

/* Extra large devices (large desktops) ----------- */
/* Styles for large desktops (CSS viewport width > 1440px) */
@media (min-width: 1441px) {
}
